<div class = "card row ml-5">
	<div class = "card-body">
		<p class="card-subtitle text-muted">Commented by {{user.username}} on {{formatDate createdAt}}</p>
		<p class = "card-text">{{content}}</p>
	</div>
</div>