<div class = "card row">
	<div class = "card-body">
		<h2 class="card-title">{{comment.title}}</h2>
		<p class="card-subtitle text-muted">Posted by {{comment.username}} on {{comment.created_at}}</p>
		<p class = "card-text">{{comment.content}}</p>
	</div>
</div>