<div class = "card row ml-5">
	<div class = "card-body">
		<p class="card-subtitle text-muted">Commented by You on {{formatDate createdAt}}</p>
		<p class = "card-text text-success">{{content}}</p>
	</div>
</div>