<div class = "card row">
	<div class = "card-body">
		<h2 class="card-title text-success">{{title}}</h2>
		<p class="card-subtitle text-muted">Posted by {{user.username}} on {{formatDatecreated_at}}</p>
		<p class = "card-text">{{content}}</p>
	</div>
</div>