<div class = "card row">
	<div class = "card-body">
		<a href="#" class="text-decoration-none">
			<h2 class="card-title">{{title}}</h2>
		</a>
		<p class="card-subtitle text-muted">Posted by {{user.username}} on {{formatDate createdAt}}</p>
		<p class = "card-text">{{content}}</p>
		
	</div>
</div>