<div class="container">
	{{#each comments as |comment|}}
		{{#if (isEqual comment.user_id id)}}
			{{> commentCardHighlight}}
		{{else}}
			{{> commentCard}}
		{{/if}}
	{{/each}}
</div>

<div class="container">
	<div class="input-group">
		<textarea class="form-control" placeholder="Enter Comment Here"></textarea>
		<button class="btn btn-primary input-group-append" type="submit">Submit</button>
	</div>
</div>